@import 'vars';

@media (min-width: $tabletBreakpoint){
    .outter-container{
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: 50px calc(60% - 70px) 40px calc(40% - 70px) 50px;
        grid-template-rows: 50px fit-content(200px) fit-content(200px) fit-content(200px);

        .info-container{
            grid-column: 2;
            grid-row: 2;
        }

        .info-card{
            grid-template-columns: calc(50% - 15px) 30px calc(50% - 15px);

            .cadeira{
                grid-column: 1;
            }
            .divider{
                grid-column: 2;
                width: 2px;
                border-radius: 2px;
                height: 80%;
                background: linear-gradient(264.82deg, #DD2472 0%, rgba(221, 36, 118, 0) 100%), #D87661;
                margin: auto;
            }

            .prof{
                grid-column: 3;
                text-align: right;

                .email-row{
                    flex-direction: row-reverse;
                }
            }
        }

        .dates-container{
            grid-row: 2;
            grid-column: 4;
        }

        .links-apontamentos,
        .links-videos{
            ul{
                padding: 0 40px;
                
                .info-row{
                    label{
                        &:first-child{
                            text-align: left;
                            width: 80%;
                        }

                        &:last-child{
                            text-align: right;
                            width: 20%;
                        }
                    }
                }
            }
        }
        .links-apontamentos{
            grid-column: 3;
        }

        .links-files-container{
            grid-row: 3;
            grid-column: 2/span 3;
            grid-template-columns: calc(50% - 20px) 40px calc(50% - 20px);
            grid-template-rows: 40px fit-content(200px) 40px;
        }
    }
}

@media (max-width: $tabletBreakpoint) and (min-width: $phoneBreakpoint){
    .outter-container{
        grid-row: 2;
        grid-column: 1;
        grid-template-columns: 30px calc(50% - 40px) 20px calc(50% - 40px) 30px;
        grid-template-rows: 30px fit-content(200px) fit-content(200px) fit-content(200px);
        margin-top:10px;

        .info-container{
            grid-column: 2;
            grid-row: 2;
        }

        .info-card{
            grid-template-rows: auto 30px auto;

            .cadeira{
                grid-row: 1;
            }
            .divider{
                grid-row: 2;
                height: 2px;
                border-radius: 2px;
                width: 80%;
                background: linear-gradient(264.82deg, #DD2472 0%, rgba(221, 36, 118, 0) 100%), #D87661;
                margin: auto;
            }
            .prof{
                grid-row: 3;
                text-align: left;
                .email-row{
                    flex-direction: row;
                }
            }
        }

        .dates-container{
            grid-row: 2;
            grid-column: 4;
        }

        .links-apontamentos,
        .links-videos{
            ul{
                padding: 0 20px;

                .info-row{
                    label{
                        &:first-child{
                            text-align: left;
                            width: auto;
                        }

                        &:last-child{
                            text-align: right;
                            width: fit-content;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
        .links-apontamentos{
            grid-column: 3;
        }

        .links-files-container{
            grid-row: 3;
            grid-column: 2/span 3;
            grid-template-columns: calc(50% - 20px) 40px calc(50% - 20px);
            grid-template-rows: 40px fit-content(200px) 40px;
        }
    }
}

@media (max-width: $phoneBreakpoint){
    .outter-container{
        grid-row: 2;
        grid-column: 1;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: 20px fit-content(200px) fit-content(200px) fit-content(200px);
        margin-top:10px;

        .info-container{
            grid-column: 2;
            grid-row: 2;
        }

        .info-card{
            grid-template-rows: auto 30px auto;

            .cadeira{
                grid-row: 1;
            }
            .divider{
                grid-row: 2;
                height: 2px;
                border-radius: 2px;
                width: 80%;
                background: linear-gradient(264.82deg, #DD2472 0%, rgba(221, 36, 118, 0) 100%), #D87661;
                margin: auto;
            }
            .prof{
                grid-row: 3;
                text-align: left;
                .email-row{
                    flex-direction: row;
                }
            }
        }

        .dates-container{
            grid-row: 3;
            grid-column: 2;
        }

        .links-files-container{
            grid-row: 4;
            grid-column: 2;
            grid-template-columns: 100%;
            grid-template-rows: 30px fit-content(200px) 20px fit-content(200px) 30px;

            .links-videos{
                grid-row: 2;
                grid-column: 1;
            }
            .links-apontamentos{
                grid-row: 4;
                grid-column: 1;
            }

            .links-apontamentos,
            .links-videos{
                ul{
                    padding: 0 20px;
    
                    .info-row{
                        label{
                            &:first-child{
                                text-align: left;
                                width: auto;
                            }
    
                            &:last-child{
                                text-align: right;
                                width: fit-content;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.outter-container{
    width: 100%;
    height: 100%;
    display: grid;
    overflow-y: auto;

    .info-container{
        display: flex;
        flex-direction: column;

        .info-card{
            width: calc(100% - 80px);
            height: fit-content;
            border-radius: 20px;
            background-color: white;
            box-shadow: $shadow;
            display: grid;
            padding: 20px 40px;
    
            .cadeira{
    
                h1{
                    text-align: left;
                }
    
                label{
                    display: block;
                    text-align: left;
                    color: #727272;
                    font-weight: bold;
                }
    
                ul{
                    padding: 0;
                    margin: 0;
                    margin-top: 10px;
                    padding-left: 20px;
                    text-align: left;
                    list-style-type: none;
                    color: #727272;
    
                    font-size: 16px;
                }
            }
            .prof{
                h1{
                    font-size: 28px !important;
                }
    
                h3{
                    color: #4D4D4D;
                }

                .email-row{
                    display: flex;
                    label{
                        margin-right: 5px;
                        color: #727272;
                        padding: 0;
                        line-height: 20px;
                        display: block;
                    }
                }
    
            }
    
            .cadeira,
            .prof{
                h1{
                    font-weight: 900;
                    font-size: 35px;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }

        .links-aulas-container{
            display: flex;
            flex-direction: column;

            & > h1{
                margin: 0;
                margin-top: 60px;
                text-align: left;
            }

            .links-container{
                background-color: white;
                box-shadow: $shadow;
                border-radius: 20px;
                padding: 0 40px;
                margin: 20px 0;

                ul{
                    list-style-type: none;
                    padding: 0;

                    li{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        padding: 5px 0;
                        
                        label{
                            display: block;
                            width: 30%;
                            text-align: left;
                        }

                        a{
                            display: block;
                            width: 70%;
                            text-align: right;
                            transition: .2s;
                            text-decoration: none;

                            background: $gradientText;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;

                            &:hover{
                                cursor: pointer;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .dates-container{
        display: flex;
        flex-direction: column;

        .datas-entrega-container{
            background-color: white;
            box-shadow: $shadow;
            border-radius: 20px;
            margin-top: 25px;
            // grid-row: ;
            
            ul{
                list-style-type: none;

                li{
                    width: 100%;
                    padding: 5px 0;
                    display: flex;
                    flex-direction: row;

                    label{
                        display: block;
                        width: 31%;
                    }

                    label:first-child{
                        text-align: left;
                    }

                    label:last-child{
                        text-align: right;
                    }
                }
            }
        }
    }
    
    .links-files-container{
        display: grid;
        margin-bottom: 30px;


        .links-videos{
            grid-column: 1;
        }

        .links-videos,
        .links-apontamentos{
            width: 100%;
            height: fit-content;
            background-color: white;
            border-radius: 20px;
            box-shadow: $shadow;

            ul{
                list-style-type: none;
                margin-bottom: 40px;

                .divider{
                    width: 80%;
                    height: 1px;
                    background-color: #dfdfdf;
                    margin: auto;
                    margin-top: 20px;
                }

                li{
                    width: 100%;
                    margin: 20px 0;
                    
                    .info-row{
                        display: flex;
                        flex-direction: row;
                        padding: 5px 0;

                        label{
                            display: block;

                            &:first-child{
                                font-weight: 500;
                            }
                            &:last-child{
                                font-weight: 300;
                            }
                        }
                    }

                    a{
                        display: block;
                        width: 100%;
                        transition: .2s;
                        text-decoration: none;
                        font-weight: 300;

                        background: $gradientText;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &:hover{
                            cursor: pointer;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}