@import 'vars';

@media (min-width: $tabletBreakpoint){
    #navbar{
        grid-row: 1;
        grid-column: 1;
        padding: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px) !important;

        .mobile-menu-button{
            display: none;
        }

        .nav-buttons{
            display: block !important;
        }
    }
}

@media (max-width: $tabletBreakpoint){
    #navbar{
        grid-row: 1/span 2;
        grid-column: 1;
        padding: 10px;
        width: calc(100% - 20px);
        height: 50px;

        display: grid;
        grid-template-rows: 50px calc(100% - 70px);
        // height: calc(100% - 20px);


        .nav-buttons{
            display: none;
            grid-row: 2;
            grid-column: 1;

            ul > li{
                text-align: right !important;

                .navbar-underline{
                    margin-left: auto;
                }
            }


        }

        .mobile-menu-button{
            grid-row: 1;
            display: block;
            margin: auto 0;
            margin-left: auto;
            width: 20px;
            height: 20px;
            border: 2px solid #eeeeeeec;
            padding: 10px;
            border-radius: 5px;
            transition: .1s;

            &:hover{
                background-color: #ffffff2c;
                cursor: pointer;
            }

        }
    }
}

#navbar{
    margin: 0;
    margin: 0;
    background: $gradient;
    box-shadow: $shadow;
    transition: .2s;
    overflow-y: auto;
    z-index: 999;

    .outer-ul{
        padding: 20px 0;

        & > :first-child{
            font-weight: 800;
            font-size: 16px;
            transition: .2s;

            &:hover{
                cursor: pointer;
                font-weight: 900;
                font-size: 17px;

            }
        }
    }

    .year-ul,
    .semester-ul{
        padding: 5px 10px;

        & > li{
            padding: 0;
            padding-left: 15px;
            transition: .2s;
            width: fit-content;

            .navbar-underline{
                position: relative;
                width: 0;
                height: 1px;
                background-color: white;
                transition: .2s;
                transform: translateX(-50%);
                left: 50%;
            }

            &:hover{
                // text-decoration: underline;
                cursor: pointer;

                & > .navbar-underline{
                    width: 100px;
                }
            }
        }

        & > li:first-child{
            padding: 0;
            font-weight: bold;
        }
    }

    .inner-ul{
        padding: 5px 10px;

        li{
            padding: 0;
            transition: .2s;
            font-weight: medium !important;
            width: fit-content;

            .navbar-underline{
                position: relative;
                width: 0;
                height: 1px;
                background-color: white;
                transition: .2s;
                // transform: translateX(-50%);
                // left: 10px;
            }

            &:hover{
                // text-decoration: underline;
                cursor: pointer;

                & > .navbar-underline{
                    width: 100px;
                }
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: white;
        text-align: left;
        transition: .2s;

        li{
            display: block !important;
            width: 100% !important;
        }
    }
}