@import 'vars';


@media (min-width: $tabletBreakpoint){
    .prof-info-container{
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: 50px auto 50px;

        .prof-container{
            padding: 30px 40px;
            width: fit-content;
        }

        .cadeiras-container{
            flex-direction: row;

            .cadeira-card{
                width: fit-content;       
                margin: 10px; 
            }
        }
    }
  }
  
@media (max-width: $tabletBreakpoint) and (min-width: $phoneBreakpoint){
    .prof-info-container{
        grid-row: 2;
        grid-column: 1;
        grid-template-columns: 50px auto 50px;

        .prof-container{
            padding: 30px 40px;
            width: fit-content;
        }
        .cadeiras-container{
            flex-direction: row;

            .cadeira-card{
                width: fit-content;
                margin: 10px;
            }
        }
    }
}

@media (max-width: $phoneBreakpoint){
    .prof-info-container{
        grid-row: 2;
        grid-column: 1;
        grid-template-columns: 15px calc(100% - 30px) 15px;

        .prof-container{
            padding: 20px 30px;
            width: calc(100% - 80px);
        }

        .cadeiras-container{
            flex-direction: column;

            .cadeira-card{
                margin: 10px 0;
                width: calc(100% - 30px);
            }
        }
    }
}

.prof-info-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;

    .flex-container{
        display: flex;
        flex-direction: column;
        grid-row: 2;
        grid-column: 2;

        .prof-container{
            background-color: white;
            box-shadow: $shadow;
            border-radius: 20px;
            height: fit-content;
            min-width: 60%;
            text-align: left;
    
            h1{
                margin: 0;
                font-weight: 900;
            }

            h3{
                color: #4D4D4D;
            }
            
            .email-row{
                display: flex;
                flex-direction: row;
                label{
                    margin-left: 5px;
                    color: #727272;
                    display: table; 
                    vertical-align: middle;
                }
            }
        }

        h1{
            text-align: left;
            margin: 0;
            margin-top: 40px;
        }

        .cadeiras-container{
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            .cadeira-card{
                background: $gradient;
                border-radius: 15px;
                box-shadow: $shadow;
                padding: 15px;
                height: fit-content;
                color: white;
                transition: .2s;

                h2{
                    transition: .2s;
                }

                &:hover{
                    padding: 18px;
                    cursor: pointer;

                    h2{
                        font-weight: 900;
                    }
                }
            }
        }
    }

}